<div class="mt-4">
    <h3>Thêm sản phẩm</h3>

            <form method="POST" action = "/admin/store">
            <div class="form-group">
                <label for="name">Tên xe</label>
                <input type="text" class="form-control" id="name" name="name" value="">
            </div>

            <div class="form-group">
                <label for="price">Giá</label>
                <input type="text" class="form-control" id="price" name="price" value="">
            </div>


        <div class="form-group">
            <label for="image">Thêm hình ảnh</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>

    {{!-- <div class="form-group">
            <label for="product">Sản phẩm mua</label>
            <input type="text" class="form-control" id="product" name="product" value="{{agencies.name}}">
        </div> --}}
        <button type="submit" class="btn btn-primary">Thêm</button>
        </form>
</div>

