<div class="navbar-container">
            <div class="navbar">
                <div class="navbar-left">
                  <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Emblem_of_Hanoi.svg/1200px-Emblem_of_Hanoi.svg.png" alt=""></a>
                  
                    
                    <a href="/">Trang chủ</a>
                    <a href="/listMotobikes/list">Danh sách xe </a> 
                    
                    <a href="/priceTable/">Bảng giá</a>
                    <a href="/policy/">Chính sách</a>
                    <a href="/contact/">Liên hệ</a>

                    
                </div>
                <div class="navbar-right">
                    <div class="find-a-store">
                        <svg
                            aria-hidden="true"
                            class="valign-middle pr2"
                            focusable="false"
                            preserveAspectRatio="xMidYMid meet"
                            style="
                                width: 32px;
                                height: 32px;
                                overflow: visible;
                                fill: currentColor;
                            "
                            viewBox="0 0 24 24"
                        >
                            <path
                                d="M12,11.475 C10.5214286,11.475 9.32142857,10.299 9.32142857,8.85 C9.32142857,7.401 10.5214286,6.225 12,6.225 C13.4785714,6.225 14.6785714,7.401 14.6785714,8.85 C14.6785714,10.299 13.4785714,11.475 12,11.475 M12,1.5 C7.85357143,1.5 4.5,4.7865 4.5,8.85 C4.5,14.3625 12,22.5 12,22.5 C12,22.5 19.5,14.3625 19.5,8.85 C19.5,4.7865 16.1464286,1.5 12,1.5"
                            ></path>
                        </svg>
                        <div>Find a store</div>
                    </div>
                     {{#if user}}

            
                        <div>{{user.name}}</div>
                        <div><a href="/user/logout">Log out</a></div>
                        
              
            {{else}}
              <div class="sign-in"><a href="/user/signIn">Sign in</a></div>
                    <div class="sign-in"><a href="/user/signUp">Sign up</a></div>
            {{/if}}
                </div>
            </div>
        </div>

<h2>I. Cách tính thời gian thuê xe máy</h2>
  <p>Giá thuê xe sẽ được tính kết hợp theo ngày và theo giờ với block nửa ngày, tính 24 giờ cho ngày đầu thuê xe. Giá thuê xe sẽ được tính tối thiểu 1 ngày.</p>
  <p>Ví dụ: thời gian thuê của bạn sẽ được tính như sau:</p>
  <ul>
    <li>Thời gian lấy xe của bạn là 8h sáng</li>
    <li>Thời gian trả xe của bạn là 12h trưa hôm sau</li>
  </ul>
  <p>Thì tổng thời gian bạn thuê xe sẽ là 1.5 ngày.</p>
  <ul>
    <li>Thời gian lấy xe của bạn là 20h tối</li>
    <li>Thời gian trả xe của bạn là 12h trưa hôm sau</li>
  </ul>
  <p>Thì tổng thời gian bạn thuê xe vẫn sẽ được tính là 1 ngày.</p>
  <p>Thời gian thuê xe sẽ được tính tối thiểu là 1 ngày. Ví dụ:</p>
  <ul>
    <li>Thời gian lấy xe của bạn là 9h sáng, thời gian trả xe của bạn là 3h chiều cùng ngày thì chúng tôi vẫn sẽ tính thời gian thuê xe là 1 ngày.</li>
  </ul>

  <h2>II. Thủ tục thuê xe máy</h2>
  <p>Về cơ bản, các bạn sẽ cần 1 giấy tờ tùy thân (có thể là hộ chiếu, bằng lái xe, chứng minh nhân dân …) của người đứng tên ký hợp đồng thuê xe, bằng lái xe (chụp ảnh rồi trả lại ngay) cùng tiền cọc tùy loại xe, từ 1 đến 3 triệu (xe số) đến 5 – 10 triệu (xe ga, xe tay côn) và 50 triệu (SH150i – Xe Phân khối lớn). Có áp dụng giảm cọc với các trường hợp cụ thể sau đây:</p>
  <ul>
    <li>Giảm tiền cọc với khách du lịch thuê xe máy dưới 5 ngày có vé máy bay khứ hồi đến Hà Nội và quay trở lại địa phương mình sinh sống (chỉ cần mail xác nhận đặt vé với tình trạng vé đã xác nhận cùng code vé điện tử) cùng sinh viên các trường Đại học công lập có thẻ sinh viên còn hạn: 500.000đ với xe số, 1 đến 3 triệu với xe tay côn và tay ga.</li>
    <li>Với tất cả các trường hợp khác đặt cọc đầy đủ theo quy định vào thời điểm ký hợp đồng và nhận xe.</li>
  </ul>
  <p>Khi nhận xe, khách hàng sẽ ký hợp đồng chi tiết và rõ ràng với công ty về các quyền lợi cũng như trách nhiệm giữa bên cho thuê và bên thuê xe. Chúng tôi tự hào là đơn vị cho thuê xe máy duy nhất tại Hà Nội có tư cách pháp nhân để ký hợp đồng với khách hàng, đảm bảo pháp lý khi lưu thông trên đường. Khi nhận xe quý khách sẽ được cung cấp đầy đủ bộ giấy tờ gồm:</p>
  <ul>
    <li>Hợp đồng ký, đóng dấu với Công ty .</li>
    <li>Đăng ký xe photo công chứng hoặc đóng dấu đỏ Công ty.</li>
    <li>Bảo hiểm xe TNDS bắt buộc còn hiệu lực.</li>
  </ul>